<h1>Showing selected article</h1>

<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>

<small><%= link_to "Edit this article", edit_article_path(@article) %></small> |
<small> <%= link_to 'Back to All Articles', articles_path %> </small>