<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <p>Welcome to my first blog</p>
  <p><%= link_to 'Sign up now', "#", class: "btn btn-danger btn-lg" %></p>
</div>

<small> <%= link_to 'Get to know us', about_path %> </small> |
<small><%= link_to 'Check my alpha-blog', articles_path %></small>
